{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-start align-items-center">
    <a class="btn btn-outline-danger" href="/logout">Logout</a>
</div>
<div class="row justify-content-center align-items-center my-4">
    <table class="table col-6">
        <tr><th scope="row">ISBN</th><td>{{ book.isbn }}</td></tr>
        <tr><th scope="row">Title</th><td>{{ book.title }}</td></tr>
        <tr><th scope="row">Author</th><td>{{ book.author }}</td></tr>
        <tr><th scope="row">Year</th><td>{{ book.year }}</td></tr>
    </table>
</div>
<div class="row justify-content-center align-items-center">
    <form class="col-6" action="{{ url_for('review') }}" method="post">
        <label for="reviewRating">Rate the book</label>
        <input type="range" name="reviewRating" class="form-control-range mb-3" id="reviewRating" min="0" max="5" step="1">
        <textarea name="reviewComment" class="form-control mb-2" id="reviewComment" placeholder="Write a comment" rows="4"></textarea>
        <button type="submit" id="sendreview" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="row justify-content-center align-items-center">
    <div class="d-flex flex-column col-6">
        {%for r in reviews%}
        <div class="pt-2"><span class="h6">{{r.User.username}}</span> rated it {{r.Review.rating}}:</div>
        <div class="font-italic">"{{r.Review.comment}}"</div>
        {%endfor%}
      </div>
</div>
{% endblock %}