{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-4">
        <div class="card">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
                    <a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">Register</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                
                <!-- Login Tab -->
                <div class="tab-pane fade card-body show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                    <form action="{{ url_for('login') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>
                    </form>
                </div>
                
                <!-- Register Tab -->
                <div class="tab-pane fade card-body" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
                    <form action="{{ url_for('register') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                        </div>
                        <button type="submit" id="sendregister" class="btn btn-primary">Register</button>
                    </form>
                </div>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}